.product-container {
  position: relative;
  height: 510px;
  width: 300px;
  border: 1px solid;
  margin: 45px;
}
.product-container img {
  width: 300px;
  padding: 5px;
}
.product-container h2{
  font-size: 1.3rem;
}
.product-container h3{
  font-size: 1rem;
}
.product-container > div{
  margin: 5px;
}
.btn-cart {
  bottom: 0;
  font-size: 18px;
  border: none;
  background-color: #ffe0b3;
  width: 100%;
  position: absolute;
  font-weight: bold;
  padding: 20px;
}
.btn-cart:hover {
  background-color: #eaa744;
  cursor: pointer;
}
